<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean class="com.online.shelter.pet.servlet.repository.mock.MockUserRepositoryImpl" id="mockUserRepository"/>

    <bean class="com.online.shelter.pet.servlet.service.UserServiceImpl">
       &lt;!&ndash; <property name="repository" ref="mockUserRepository"/>&ndash;&gt;
      <constructor-arg name="repository" ref="mockUserRepository"/>
    </bean>-->

    <!-- Not necessary, already included with component-scan -->
    <!--<context:annotation-config/>-->

    <context:component-scan base-package="com.online.shelter.pet.**.service"/>
    <context:component-scan base-package="com.online.shelter.pet.**.web"/>
</beans>